@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
#textbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block; /*reset from inline*/
  width: 100%;
  margin: 0; /*remove defaults*/
  padding: 4px;
  background: #eef;
  border: 1px solid #333;
  overflow-y: auto; /*resets IE*/
  overflow-x: hidden; /*resets IE*/
}

body {
  position: relative;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 7032px;
  }
}

.scrolling-background {
  background-size: cover;
  animation: scroll 480s linear infinite;
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.scale-up {
  animation: scaleAnimation 1s ease-in-out;
}

@keyframes shakeAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.shake {
  animation: shakeAnimation 0.8s ease-in-out;
}
